@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #000000, #c8a11f, #000000);
    text-align: center;
    align-items: center;
}

.form-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    background-color: #00000056;
    backdrop-filter: blur(10px);
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

h1{
    color: #fefefe;
    margin-top: 20px;
}

legend{
    display: flex;
    color: #000000;
}

input{
    display: flex;
    margin: 0 5px;
    width: 40%;
    text-align: center;
}

label{
    margin: 0 10px;
}